<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Employee Payrolls
    </p>
    <p class="subtitle">
      View all your employees' payroll at a glance 
    </p>
  </div>
</section>
<table class="table is-hoverable is-fullwidth has-text-centered">
  <thead class="title is-5 is-primary is-center has-text-centered">
    <tr>
      <td></td>
      <td>Employee Name</td>
      <td>Annual Gross Income</td>
      <td>Monthly Income Tax</td>
      <td>Last Updated</td>
      <td> <%= link_to "Download CSV", api_v1_csv_path,  class: "button is-primary" %> </td>
    </tr>
  </thead>
  <tbody>
    <% @income_tax_profiles.each do |tax_profile| %>
      <tr>
        <td> <%= @count %> </td>
        <td> <%= tax_profile[:employee_name] %>  </td>
        <td> <%= tax_profile[:gross_annual_salary] %>  </td>
        <td> <%= tax_profile[:monthly_income_tax] %>  </td>
        <td> <%= tax_profile[:updated_at] %>  </td>
        <td>
          <%= link_to "View Details", api_v1_path(tax_profile[:id]), class: "button is-info is-normal" %>
          <%= link_to "Delete Payroll", api_v1_path(tax_profile[:id]), :method => :delete, data: { confirm: "Are you sure you want to delete #{tax_profile[:employee_name]}'s payroll?" }, class: "button is-info is-danger"  %>
        </td>
      </tr>
      <% @count+= 1 end %>
    </tbody>
  </table>
